extends layout

block content
  h1= title
  - var results = results
        div(class = 'container-fluid')
            div(class = 'row')
                each emp,i in results 
                    div(class="col-sm-2",onClick=`buy(${i})`) ID: #{emp["ID"]} <br/> Age: #{emp["age"]} <br/> Salary: #{emp["salary"]}
                        script.
                            function buy(value) {
                                alert(`You purchased item ${value}`)
                            }   