extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let _id = toShow._id 
    - let ID = toShow.ID 
    - let age = toShow.age 
    - let salary = toShow.salary 
    - let actionid = "/resource/employee/" + _id 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='employeeAttr mr-3') Employee ID is: 
        div #{_id} 
      div.row 
        div(class='employeeAttr mr-3') Employee ID is: 
        div #{ID} 
      div.row 
        div(class='employeeAttr mr-3') Employee age is: 
        div #{age} 
      div.row 
        div(class='employeeAttr mr-3') Employee salary is: 
        div #{salary} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/costumes' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
        
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/costumes' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 